# dependencies
/node_modules

# production build
/dist

# Capacitor native projects
/android
/ios

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*

# env
.env
.env*.local

# IDE
.vscode
.idea
